
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}

.navbar-inline {
	display: inline-block;
}

.navbar-form {
	display: inline-block;
}

.navbar-secondary-form {
	margin-top:10px;
}

/* For Add Item Page*/
.form-add {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px
}

.form-add .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-add-control {
  display: block;
  width: 50%;
  margin-bottom: 4px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-add input[type="password"] {
  width: 106%;
}

.form-add-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-add-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-add-control:-ms-input-placeholder {
  color: #777;
}
.form-add-control::-webkit-input-placeholder {
  color: #777;
}
.form-add-control[disabled],
.form-add-control[readonly],
fieldset[disabled] .form-add-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-add-control {
  height: auto;
}